@tailwind base;
@tailwind components;
@tailwind utilities;

html, body ,button, * {
    /* cursor: none; */
}

::selection{
    background-color: white;
    mix-blend-mode: difference;
    color: #E31C25;
}

.fix{
    background-attachment: fixed;
}

.bg-card{
    z-index: -7;
}

.gru:hover .hn::before{
   width: 100%;
}

.hn::before{
    content: attr(data-head);
    width: 0%;
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: .5s cubic-bezier(.76, .06, .85, .07);
    /* padding: 5px; */
    background-color: #E31C25;
    white-space: nowrap;
    z-index: 0;
    overflow: hidden;
}

/*      Service Up-Down Slide */
.upDown::before{
    content: ".";
    display: block;
    width: 100%;
    /* color: white; */
    position: absolute;
    inset: -1rem;
    /* top: 0%; */
    /* left: 0%; */
    transition: .5s cubic-bezier(.76, .06, .85, .07);
    /* padding: 5px; */
    background-color: white;
    white-space: nowrap;
    z-index: 0;
    overflow: hidden;
}

.bg-card::before{
    content: '';
    position: absolute;
    top:-4px;
    left: -4px;
    width: 100%;
    padding: 2px;
    background-color: royalblue;
    height: 100%;
    border: 4px solid #E31C25;
    box-sizing: content-box;
    /* transform: rotate(1deg); */
    transform: skew(2deg ,2deg);
    z-index: -1;
}




.hov::before{
    content: attr(data-head);
    width: 0%;
    color: #E31C25;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: .5s cubic-bezier(.76, .06, .85, .07);
    padding: px;
    background-color: white;
    white-space: nowrap;
    opacity: 1;
    overflow: hidden;
}

.hov{
    position: relative;
    overflow: hidden;
    width: max-content;
    margin:0 auto;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, transform;
    transition-duration: 5s;
    transition-timing-function: cubic-bezier(.767, .01, .18, 1.01);
    transition: 1s cubic-bezier(.767, .01, .18, 1.01);
    white-space: nowrap;
}

.hov:hover::before{
    width: 100%;
    opacity: 1;
}


body{
    box-sizing: content-box;
    scroll-behavior: smooth;
    scroll-padding-top: 10%;
    scroll-padding: 50px;
}


/*      Custom Cursor */

h1:hover ~ .custom-cursor{
    transform: scale(2);

}
.custom-cursor{
    z-index: 1000;
    transform: translate3d(0,0,0);
    overflow: hidden;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: .1s;
    transition-timing-function: linear;
    width: 1rem;
    height: 1rem;
    background-color: #E31C25;
    border-radius: 50%;
    position: fixed;
    display: none;
}


/*      Home Hero BG */
.hero-bg{
    /* background: rgb(11,9,121); */
background: linear-gradient(102deg, rgba(11,9,121,1) 42%, rgba(145,0,255,1) 100%);
/* background-size: 150%; */
}

@media (max-width:768px) {
    .hero{

        background: rgba( 255, 255, 255, 0.2 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 50px );
        -webkit-backdrop-filter: blur( 14px );
        border-radius: 14px;
        border: 2px solid rgba( 255, 255, 255, 0.98 );

    }
}


.fadeIn{
    animation-name: fadeIn;
    animation-duration: 2000ms;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all;
    animation-delay: 1000ms;
    animation-fill-mode: backwards;

}

@keyframes fadeIn {

    0%{
        /* transform: scale(0.5); */
        opacity: 0;
    }

    100%{
        /* transform: scale(1); */
        opacity: 1;
    }
    
}

.slideDown{
    animation-name: slideDown;
    animation-duration: 2000ms;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all;
}

@keyframes slideDown {

    0%{
        transform:translateY(-100px);
        opacity: 0;
    }

    100%{
        transform:translateY(0px);
        opacity: 1;
    }
    
}

.slideRight{
    animation-name: slideRight;
    animation-duration: 2500ms;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-fill-mode: backwards;

}



@keyframes slideRight {

    0%{
        transform: translateX(1000px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}

.slideLeft{
    animation-name: slideLeft;
    animation-duration: 2500ms;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-fill-mode: backwards;}

@keyframes slideLeft {

    0%{
        transform: translateX(-500px);
        /* transform: scale(0.5); */
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        /* transform: scale(1); */
        opacity: 1;
    }
    
}

.animate-zoom{

    animation-name: zoom;
    animation-duration: 2000ms;
    /* an */
}

@keyframes zoom {

    0%{
        transform: scale(0);
        opacity: 0;
    }

    96%{
        transform: scale(1.05);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}

/*      Zoom In and Zoom Out */
.animate-zoomInOut{

    animation-name: zoomInOut;
    animation-duration: 4100ms;
    animation-fill-mode: forwards;
    /* an */
}

@keyframes zoomInOut {

    0%{
        transform: scale(0);
        opacity: 0;
    }

    26%{
        transform: scale(1.05);
        opacity: 1;
    }
    30%{
        transform: scale(1);
        opacity: 1;
    }
    80%{
        transform: scale(1);
        opacity: 1;
    }
    84%{
        transform: scale(1.1);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
    
}



.text-sha{
    text-shadow: 2px 1px 10px black ;
}

.text-shaho:hover{
    text-shadow: 2px 1px 6px ;
}

.icon-sha{
    filter:drop-shadow(2px 1px 4px black);
}

.serv{
    /* filter:drop-shadow(1px 1px .1px); */
}

.glass{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(212, 84, 84, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 14px );
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.616);
    /* mix-blend-mode: difference; */

}



.but:hover{
    filter:drop-shadow(2px 1px 2px) ;
}




.spin-hover:hover{
    background-color: white;
    /* color: black; */
    transition: all;
    transition-duration: 500ms;
    box-shadow: 11px 15px 54px -1px rgba(239, 239, 239,0.5) , -11px -15px 54px -1px rgba(239, 239, 239,0.5);
}

.rotate{
    animation-name: rotate;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes rotate {

    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
    
}

/*          SCROLLBAR */

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #1C1C1C;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

::-webkit-scrollbar-thumb{
    background-color: #E31C25;
    /* border-radius: 20px; */
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

