@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-sizing: content-box;
}

/*      Home Hero BG */
.hero-bg{
    /* background: rgb(11,9,121); */
background: linear-gradient(102deg, rgba(11,9,121,1) 42%, rgba(145,0,255,1) 100%);
/* background-size: 150%; */
}


.animate{
    animation-name: fadeIn;
    animation-duration: 2000ms;
}

@keyframes fadeIn {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}

.animate-zoom{

    animation-name: zoom;
    animation-duration: 2500ms;
}

@keyframes zoom {

    0%{
        transform: scale(0.2);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}

.text-sha{
    text-shadow: 2px 1px 10px ;
}

.icon-sha{
    filter:drop-shadow(2px 1px 4px);
}

.serv{
    /* filter:drop-shadow(1px 1px .1px); */
}

.glass{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 50px );
    -webkit-backdrop-filter: blur( 14px );
    border-radius: 14px;
    border: 2px solid rgba( 255, 255, 255, 0.98 );
}




.spin-hover:hover{
    background-color: white;
    /* color: black; */
    transition: all;
    transition-duration: 500ms;
    box-shadow: 11px 15px 54px -1px rgba(239, 239, 239,0.5) , -11px -15px 54px -1px rgba(239, 239, 239,0.5);
}

.rotate{
    animation-name: rotate;
    animation-duration: 15000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes rotate {

    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
    
}

